form{
	border: 1px black solid;
	max-width: max-content;
	padding: 20px;
	background-color: #efefef;
	margin: 100px auto;
}
.block{
	overflow: auto;
	width: 400px;
	
}
.margin{
	margin: 10px 0 0 0
}
.input{
	float: right;
}
.text{
	float: left;
}
.center{
	text-align: center;
	margin: 10px 0px 0px 0px;
}
html, body {
  
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

